[submodule "ckan"]
	path = ckan
	url = ssh://github.com/BioplatformsAustralia/ckan.git
[submodule "ckanext-bpatheme"]
	path = ckanext-bpatheme
	url = ssh://github.com/BioplatformsAustralia/ckanext-bpatheme.git
[submodule "ckanext-bulk"]
	path = ckanext-bulk
	url = ssh://github.com/BioplatformsAustralia/ckanext-bulk.git
[submodule "ckanext-s3filestore"]
	path = ckanext-s3filestore
	url = ssh://github.com/BioplatformsAustralia/ckanext-s3filestore.git
[submodule "ckanext-scheming"]
	path = ckanext-scheming
	turl = ssh://github.com/BioplatformsAustralia/ckanext-scheming.git
