version: '3'

services:
  cache:
    image: memcached:1.5
    networks:
      - bpa

  nginx:
    build: nginx
    ports:
      - "8443:443"
    volumes:
      - ./nginx/sites-enabled/app.conf:/etc/nginx/sites-enabled/app.conf
      - ./nginx/conf.d/app.conf:/etc/nginx/conf.d/app.conf
    links:
      - "ckan:uwsgi"
    depends_on:
      - ckan
    networks:
      - bpa

  datastore:
    image: mdillon/postgis:10
    ports:
      - 5432
    volumes:
      - pgdatastore28:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=datastore
      - POSTGRES_PASSWORD=datastore
    networks:
      - bpa

  db:
    image: mdillon/postgis:10
    volumes:
      - pgdb28:/var/lib/postgresql/data
    ports:
      - 5432
    environment:
      - POSTGRES_USER=ckan
      - POSTGRES_PASSWORD=ckan
    networks:
      - bpa

  solr:
    image: bioplatformsaustralia/ckan-solr-bpa:latest
    ports:
        - "8983:8983"
    volumes:
      - solr8:/var/solr/data
    networks:
      - bpa

  ckan:
    build: docker-bpa-ckan
    environment:
      - DBUSER=ckan
      - DATASTORE_DBUSER=datastore
      - DATASTORE_DB_READONLY_USER=datastore
      - WAIT_FOR_DB=1
      - WAIT_FOR_DATASTORE=1
      - WAIT_FOR_SOLR=1
      - WAIT_FOR_CACHE=1
      - SESSION_SECRET=${SESSION_SECRET}
      - APITOKEN_SECRET=${APITOKEN_SECRET}
      - BEAKER_ENCRYPT_KEY=${BEAKER_ENCRYPT_KEY}
      - BEAKER_VALIDATE_KEY=${BEAKER_VALIDATE_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_HOST_NAME_TO_S3=${AWS_HOST_NAME_TO_S3}
      - AWS_REGION_NAME=${AWS_REGION_NAME}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
      - AWS_STORAGE_PATH=${AWS_STORAGE_PATH}
      - AWS_LIMITED_S3_ACCESS_KEY_ID=${AWS_LIMITED_S3_ACCESS_KEY_ID}
      - AWS_LIMITED_S3_SECRET_ACCESS_KEY=${AWS_LIMITED_S3_SECRET_ACCESS_KEY}
      - AWS_LIMITED_S3_EXPIRY_IN_SECONDS=${AWS_LIMITED_S3_EXPIRY_IN_SECONDS}
      - MAILGUN_API_KEY=${MAILGUN_API_KEY}
      - MAILGUN_API_DOMAIN=${MAILGUN_API_DOMAIN}
      - MAILGUN_SENDER_EMAIL=${MAILGUN_SENDER_EMAIL}
      - MAILGUN_RECEIVER_EMAIL=${MAILGUN_RECEIVER_EMAIL}
      - REGISTRATION_ERROR_LOG_FILE_PATH=${REGISTRATION_ERROR_LOG_FILE_PATH}
      - REGISTRATION_ERROR_LOG_FILE_NAME=${REGISTRATION_ERROR_LOG_FILE_NAME}
      - GOOGLE_UA=${GOOGLE_UA}
      - CAPTCHA_PUBLIC_KEY=${CAPTCHA_PUBLIC_KEY}
      - CAPTCHA_PRIVATE_KEY=${CAPTCHA_PRIVATE_KEY}
      - BPAOTU_AUTH_SECRET_KEY=${BPAOTU_AUTH_SECRET_KEY}
      - LOCAL_CKAN_API_URL=${LOCAL_CKAN_API_URL}
      - CKAN_API_KEY=${CKAN_API_KEY}
      - CKAN_SITE_URL=${CKAN_SITE_URL:-https://aaidemo.bioplatforms.com/}
      - LOCAL_DEV=yes
      - S3FILESTORE_CHECK_ACCESS_ON_STARTUP=false
      - SMTP_SERVER=mailcatcher:1025
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_MAIL_FROM=${SMTP_MAIL_FROM}
      - CKAN_SMTP_STARTTLS=False
      - BIOPLATFORMS_HELPDESK_ADDRESS=${BIOPLATFORMS_HELPDESK_ADDRESS}
      - UWSGI_PROCESSES=${UWSGI_PROCESSES}
      - UWSGI_THREADS=${UWSGI_THREADS}
      - SUMMARY_TABLE_DATA_PATH=${SUMMARY_TABLE_DATA_PATH:-/app/ckanext-bpatheme/ckanext/bpatheme/tests/summary/summary_table_data_path.json}
      - COMMS_TITLE=${COMMS_TITLE}
      - COMMS_MESSAGE=${COMMS_MESSAGE}
      - COMMS_LINK_PRE=${COMMS_LINK_PRE}
      - COMMS_LINK_POST=${COMMS_LINK_POST}
      - COMMS_LINK_TEXT=${COMMS_LINK_TEXT}
      - COMMS_LINK_HREF=${COMMS_LINK_HREF}
      - COMMS_OWNER=${COMMS_OWNER}
      - CKANEXT_OIDC_PKCE_BASE_URL=${CKANEXT_OIDC_PKCE_BASE_URL}
      - CKANEXT_OIDC_PKCE_CLIENT_ID=${CKANEXT_OIDC_PKCE_CLIENT_ID}
      - CKANEXT_OIDC_PKCE_CLIENT_SECRET=${CKANEXT_OIDC_PKCE_CLIENT_SECRET}
      - CKANEXT_OIDC_PKCE_BPA_AUTH0_DOMAIN=${CKANEXT_OIDC_PKCE_BPA_AUTH0_DOMAIN}
      - CKANEXT_OIDC_PKCE_BPA_API_AUDIENCE=${CKANEXT_OIDC_PKCE_BPA_API_AUDIENCE}
      - CKANEXT_OIDC_PKCE_BPA_USERNAME_CLAIM=${CKANEXT_OIDC_PKCE_BPA_USERNAME_CLAIM}
      - CKANEXT_OIDC_PKCE_BPA_LOGIN_REDIRECT_URL=${CKANEXT_OIDC_PKCE_BPA_LOGIN_REDIRECT_URL}
      - CKANEXT_OIDC_PKCE_BPA_PROFILE_REDIRECT_URL=${CKANEXT_OIDC_PKCE_BPA_PROFILE_REDIRECT_URL}
      - CKANEXT_OIDC_PKCE_BPA_REGISTER_REDIRECT_URL=${CKANEXT_OIDC_PKCE_BPA_REGISTER_REDIRECT_URL}
      - CKANEXT_OIDC_PKCE_BPA_ROLES_CLAIM=${CKANEXT_OIDC_PKCE_BPA_ROLES_CLAIM}
      - CKANEXT_OIDC_PKCE_BPA_ROLE_ORG_MAPPING=${CKANEXT_OIDC_PKCE_BPA_ROLE_ORG_MAPPING}
      - CKANEXT_OIDC_PKCE_BPA_SUPPORT_EMAIL=${CKANEXT_OIDC_PKCE_BPA_SUPPORT_EMAIL}

    volumes:
      - .:/app
      - ckandata28:/data
      - /tmp/googlesheets:/opt/googlesheets
    links:
      - db
      - datastore
      - solr
      - cache
      - mailcatcher
    depends_on:
      - cache
      - solr
    networks:
      bpa:
        aliases:
          - uwsgi

  mailcatcher:
    image: sj26/mailcatcher:latest
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - bpa

volumes:
  solr8:
  pgdb28:
  pgdatastore28:
  ckandata28:

networks:
  bpa:
